<header>
    <mat-toolbar color="primary" class="header" role="heading">
        <span>
            {{user().name}}
        </span>
        <button 
            mat-icon-button 
            [matMenuTriggerFor]="menu" 
            aria-label="Menu"
            matTooltip="Menu"
            aria-label="boton de menu"
        >
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/profile">
                <mat-icon>person</mat-icon>
                <span>Perfil</span>
            </button>
            <button mat-menu-item routerLink="/menu">
                <mat-icon>list</mat-icon>
                <span>Menu</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Cerrar Sesion</span>
            </button>
        </mat-menu>
    </mat-toolbar>
</header>
