.main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;

    a {
        text-decoration: underline;
    }
}


@media (max-width: 624px) {
    form {
        width: 95%;
    }
}
