<div class="menu" role="menu">
    <div class="mat-elevation-z4 button" matRipple routerLink="/profile">
        Informacion de perfil
    </div>
    <div 
        class="mat-elevation-z4 button" 
        matRipple 
        *ngIf="loggedUser().role.manageUsers"
    >
        Nuevo empleado
    </div>
    <div 
        class="mat-elevation-z4 button" 
        matRipple 
        *ngIf="loggedUser().role.manageUsers" 
        routerLink="/users"
    >
        Usuarios
    </div>
    <div 
        class="mat-elevation-z4 button" 
        matRipple 
        *ngIf="loggedUser().role.watchReports" 
        routerLink="/reports"
    >
        Informes por dias
    </div>
    <div class="mat-elevation-z4 button" matRipple routerLink="/forms/new">
        Generador de formularios
    </div>

</div>
