.menu {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
}

.button {
    background-color: var(--primary);
    padding: 5px;
    color: white;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .menu {
        padding: 15px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .menu {
        padding: 5px;
        grid-template-columns: 1fr;
    }
}
