<div class="main">
    <h2>Lavado de manos</h2>

    <form>
        <mat-form-field appearance="outline">
            <mat-label>Hora y fecha actual</mat-label>
            <input matInput disabled type="datetime">
        </mat-form-field>

        <mat-label>Lavado de manos del dia de hoy</mat-label>
        <mat-radio-group>
            <mat-radio-button *ngFor="let n of amountWashes" [value]="n">
                {{n}}
            </mat-radio-button>
        </mat-radio-group>

        <div>
            <mat-checkbox>Uso EEP</mat-checkbox>
            <mat-checkbox>Cuplimiento distanciamiento</mat-checkbox>
        </div>

        <div>
            <button mat-raised-button>
                Seleccionar un empleado
            </button>
            <button mat-raised-button color="primary">
                Nuevo registro
            </button>
        </div>
        <button mat-raised-button color="primary">
            Ver registros
        </button>
    </form>
</div>
