<div>
    <mat-radio-group required>
        <mat-radio-button *ngFor="let control of options; let i = index">
            <mat-form-field>
                <input 
                    matInput 
                    [value]="control.value" 
                    (input)="setOptionValue(i, $event)" 
                    [formControl]="control"
                    required
                >
            </mat-form-field>
        </mat-radio-button>
    </mat-radio-group>
</div>

<div>
    <mat-form-field>
        <mat-label>Nombre del campo</mat-label>
        <input matInput [formControl]="control" (input)="setName()">
    </mat-form-field>
    <button mat-button (click)="addOption()" matTooltip="Agregar opcion" [disabled]="control.invalid">
        <mat-icon>add</mat-icon>
    </button>
</div>
