<div>
    <mat-radio-group [required]="field.optional">
        <mat-radio-button *ngFor="let control of options; let i = index">
            <mat-form-field>
                <input 
                    matInput 
                    [value]="control.value" 
                    (input)="setOptionValue(i, $event)" 
                    [formControl]="control"
                    required
                >
            </mat-form-field>
        </mat-radio-button>
    </mat-radio-group>
</div>

<div>
    <button mat-button (click)="addOption()" matTooltip="Agregar opcion">
        <mat-icon>add</mat-icon>
    </button>
    <mat-checkbox (change)="field.optional = $event.checked">
        Opcional
    </mat-checkbox>
</div>
