<h2>Reporte de sintomas</h2>

<div>
    <mat-checkbox>
        Dolor de cabeza
    </mat-checkbox>
    <mat-checkbox>
        Tos
    </mat-checkbox>
    <mat-checkbox>
        Dificultad para respirar
    </mat-checkbox>
    <mat-checkbox>
        Malestar general
    </mat-checkbox>
    <mat-checkbox>
        Dolor de garganta
    </mat-checkbox>

    <div>
        <button mat-button>
            Seleccionar empleado
        </button>
        <button mat-raised-button color="primary">
            Nuevo registro
        </button>
    </div>
    <button mat-raised-button color="primary">
        Ver registros
    </button>
</div>
