<form [formGroup]="control">
    <mat-form-field>
        <mat-label>{{field.label}}</mat-label>
        <input matInput [required]="!field.optional" placeholder="Previsualizacion...">
    </mat-form-field>

    <div>
        <mat-form-field>
            <mat-label>Etiqueta</mat-label>
            <input 
                matInput 
                (input)="onChange($event)"
                placeholder="Nombre..." 
                required 
                formControlName="label"
            >
        </mat-form-field>

        <mat-checkbox 
            (change)="field.optional = $event.checked" 
            formControlName="optional"
        >
            Opcional
        </mat-checkbox>
    </div>
</form>
