<ng-container [ngSwitch]="field.type">
    <div *ngSwitchCase="'text'">
        <app-text-editor 
            [field]="field" 
            (validityChange)="validityHasChanged($event)"
        >
        </app-text-editor>
    </div>
    <div *ngSwitchCase="'checkbox'">
        <app-checkbox-editor 
            [field]="field | cast: CheckboxField" 
            (validityChange)="validityHasChanged($event)"
        >
        </app-checkbox-editor>
    </div>
    <div *ngSwitchCase="'radio'">
        <app-radio-editor 
            [field]="field | cast: RadioField" 
            (validityChange)="validityHasChanged($event)"
        >
        </app-radio-editor>
    </div>
    <div *ngSwitchCase="'selector'">
        <app-selector-editor 
            [field]="field | cast: SelectorField" 
            (validityChange)="validityHasChanged($event)"
        >
        </app-selector-editor>
    </div>
    <div *ngSwitchDefault>
        Tipo de campo no reconocido
    </div>
</ng-container>
