<ng-container [ngSwitch]="field.type">
    <div *ngSwitchCase="'text'">
        <app-text-editor [field]="field" (validityChange)="isValid = $event"></app-text-editor>
    </div>
    <div *ngSwitchCase="'checkbox'">
        <app-checkbox-editor [field]="field | cast: CheckboxField" (validityChange)="isValid = $event"></app-checkbox-editor>
    </div>
    <div *ngSwitchCase="'radio'">
        <app-radio-editor [field]="field | cast: RadioField" (validityChange)="isValid = $event"></app-radio-editor>
    </div>
    <div *ngSwitchCase="'selector'">
        <app-selector-editor [field]="field | cast: SelectorField" (validityChange)="isValid = $event"></app-selector-editor>
    </div>
    <div *ngSwitchDefault>
        Tipo de campo no reconocido
    </div>
</ng-container>
