@use '@angular/material' as mat;
@include mat.core();

// using http://mcg.mbitson.com/ to generate the color palettes

$md-primary: (
  50: #e0f6fa,
  100: #b3eaf2,
  200: #80dce9,
  300: #4dcde0,
  400: #26c3d9,
  500: #00b8d2,
  600: #00b1cd,
  700: #00a8c7,
  800: #00a0c1,
  900: #0091b6,
  A100: #dff7ff,
  A200: #acecff,
  A400: #79e0ff,
  A700: #5fdaff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);

$mytheme-primary: mat.define-palette($md-primary);
$mytheme-accent: mat.define-palette(mat.$yellow-palette);
$mytheme-warn: mat.define-palette(mat.$red-palette);

$mytheme-theme: mat.define-light-theme((
  color: (
    primary: $mytheme-primary,
    accent: $mytheme-accent,
    warn: $mytheme-warn,
  )
));

@include mat.all-component-themes($mytheme-theme);

@font-face {
  font-family: 'Intel';
  src: url('./assets/fonts/Inter/Inter-VariableFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
 

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Intel", Roboto, "Helvetica Neue", sans-serif;
  background-color: #FFFAF2;
}

:root {
  --primary: #00b8d2;
  --accent: yellow;
  --warn: red;
}
