<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{form.title}}
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <!-- <mat-form-field>
            <mat-label># ID</mat-label>
            <input matInput readonly [value]="form.author">
        </mat-form-field> -->
        <mat-form-field>
            <mat-label>Hora y fecha actual</mat-label>
            <input matInput readonly type="datetime" [value]="form.creationDate">
        </mat-form-field>
    
        <div *ngFor="let input of form.fields">
    
        </div>        
    </mat-card-content>
</mat-card>
