<mat-card>
    <mat-card-header>
        <h2>
            {{form.title}}
        </h2>
    </mat-card-header>

    <mat-card-content>
        <mat-form-field>
            <mat-label># ID</mat-label>
            <input matInput readonly [value]="answer.author">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Hora y fecha actual</mat-label>
            <input matInput readonly type="datetime" [value]="answer.creationDate">
        </mat-form-field>
    
        <div>
            <app-field-viewer 
                *ngFor="let input of form.fields" 
                [field]="input"
            >
            </app-field-viewer>
        </div>
    </mat-card-content>
</mat-card>
